@(query: Query)

@import helper._

@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@main("SPARQL") {

    <meta charset="UTF-8"/>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery/jquery-1.10.2.min.js")'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <script id="sgvzlr_script" src='@routes.Assets.at("javascripts/sgvizler-0.6/sgvizler.js")' type="text/javascript"></script>

<div id="queryForm"></div>

<script type="text/javascript">
  $(document).ready(function() { 
	  sgvizler.defaultEndpointURL("/sparql");
	  sgvizler.defaultQuery('@escapeEcmaScript(query.query)');
	  sgvizler.formDraw("queryForm"); });
  $('#sgvzlr_strEndpointGrp').hide();
 </script>

    <style type="text/css">
   
      pre#sgvzlr_cPrefix {
        font-size: 90%;
      }
      form label {
        margin-left: 5px;
      }
      form input {
        margin-right: 5px;
      }

      span#sgvzlr_strEndpointGrp
      {
        display: none;
      }
      span#sgvzlr_btnFormatGrp
      {
        display: none;
      }
     span#sgvzlr_btnSendGrp, span#sgvzlr_strSizeGrp
      {
      	margin-top: 10px;
      	display: block;
      }
      span#sgvzlr_optChartGrp, span#sgvzlr_strSizeGrp
      {
      	font-size: 100%;
      }
      
      
      span#sgvzlr_btnSendGrp input[type="button"]
      {
      	font-size: 100%;
      }
      
      /* 
      span#sgvzlr_optChartGrp,
      span#sgvzlr_btnSendGrp
      {
        display: none;
      }
      */
    </style>
}
