@(query: Query)

@import helper._

@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@css() = {}

@js() = {
   <script type="text/javascript" src='@routes.Assets.at("javascripts/sparql/sparql.js")'></script>
}


@main("SPARQL", "sparql", css(), js()) {


<div class="container">
	<form role="form">
		<div class="form-group">
		   <label for="query">Query</label>
			<textarea id="query" class="form-control" rows="10">select * where {?x ?p ?y}</textarea>
		</div>
		<div class="form-group">
		   <label for="timeout">Timeout</label>
			<input type="number" id="timeout" class="form-control" min="1000" value="30000"/>
		</div>
		
		<!-- <div class="form-group">
		   <label for="format">format</label>
		   <select class="form-control" id="format">
			<option>rdf</option>
			<option>xml</option>
			<option>json</option>
		   </select>
		</div>
		-->
		<button id="btnRun" type="button" class="btn btn-primary">Run</button>
	</form>
</div>

<br/>
<div class="container">
	<table class="table .table-condensed" id="resultTable"></table>
</div>

 <!--    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 
 
   <script id="sgvzlr_script" src='@routes.Assets.at("javascripts/sgvizler-0.6/sgvizler.js")' type="text/javascript"></script>


Google Visualization
google.visualization.AnnotatedTimeLine
google.visualization.AreaChart
google.visualization.BarChart
google.visualization.BubbleChart
google.visualization.CandlestickChart
google.visualization.ColumnChart
google.visualization.Gauge
google.visualization.GeoChart
google.visualization.GeoMap
google.visualization.ImageSparkLine
google.visualization.LineChart
google.visualization.Map
google.visualization.MotionChart
google.visualization.OrgChart
google.visualization.PieChart
google.visualization.ScatterChart
google.visualization.SteppedAreaChart
google.visualization.Table
google.visualization.TreeMap

Sgvizler Visualization
sgvizler.visualization.DefList
sgvizler.visualization.DiiiForceGraph
sgvizler.visualization.DraculaGraph
sgvizler.visualization.List
sgvizler.visualization.Map
sgvizler.visualization.MapWKT
sgvizler.visualization.Table
sgvizler.visualization.Text 



<div id="queryForm"></div>

<script type="text/javascript">
/*$(document).ready(
	    function (){ sgvizler.containerDrawAll(); }
	);
	  */

  $(document).ready(function() { 
	  sgvizler.defaultEndpointURL("/sparql");
	  sgvizler.defaultQuery('@escapeEcmaScript(query.query)');
	  sgvizler.formDraw("queryForm");
  });
  $('#sgvzlr_strEndpointGrp').hide();
 </script>

    <style type="text/css">
   
      pre#sgvzlr_cPrefix {
        font-size: 90%;
      }
      form label {
        margin-left: 5px;
      }
      form input {
        margin-right: 5px;
      }

      span#sgvzlr_strEndpointGrp
      {
        display: none;
      }
      span#sgvzlr_btnFormatGrp
      {
        display: none;
      }
     
     span#sgvzlr_btnSendGrp, span#sgvzlr_strSizeGrp
      {
      	margin-top: 10px;
      	display: block;
      }
      span#sgvzlr_optChartGrp, span#sgvzlr_strSizeGrp
      {
      	font-size: 100%;
      }
      
      
      span#sgvzlr_btnSendGrp input[type="button"]
      {
      	font-size: 100%;
      }
      
      /* 
      span#sgvzlr_optChartGrp,
      span#sgvzlr_btnSendGrp
      {
        display: none;
      }
      */
    </style>
    -->
}
