@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/images/mnemotix-logo-petit.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <a href="http://www.mnemotix.com" ><img width="150" src="@routes.Assets.at("/images/mnemotix-logo-transparent.png")"/></a>
        @content
    </body>
</html>
